<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="QnaMapper">

	<!-- DB에서 TotalCount 가져오기 -->
	<select id="totalCount" resultType="int" parameterType="ListData">
		select nvl(count(num), 0) from qna
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
	</select>

	<!-- Select list -->
	<select id="selectList" resultType="QnaDTO" parameterType="ListData"> <!-- 자동 형변환을 통해 QnaDTO에 있는 변수들도 가지고 올수 있게 해준다 -->
		select * from
		(select rownum R, Q.* from
		(select * from qna
		<if test="kind == 'title'">
			where title like '%'||#{search}||'%'
		</if>
		<if test="kind == 'writer'">
			where writer like '%'||#{search}||'%'
		</if>
		<if test="kind == 'contents'">
			where contents like '%'||#{search}||'%'
		</if>
		order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
	</select>

	<!-- Select One -->
	<select id="selectOne" parameterType="int" resultType="QnaDTO">
		select *
		from qna where num=#{num}
	</select>

	<!-- Insert -->
	<insert id="insert" parameterType="QnaDTO">
		insert into qna values
		(board_seq.nextval, #{title}, #{writer}, #{contents}, 0, sysdate,
		board_seq.currval, 0, 0)
	</insert>

	<!-- Update -->
	<update id="update" parameterType="QnaDTO">
		update qna set title=#{title},
		contents=#{contents} where num=#{num}
	</update>

	<!-- Delete -->
	<delete id="delete" parameterType="int">
		delete qna where num=#{num}
	</delete>

	<!-- Reply Update -->
	<update id="replyUpdate" parameterType="QnaDTO">
		<![CDATA[ update qna set step=step+1 where ref=#{ref} and step>#{step} ]]>
	</update>

	<!-- Reply Insert -->
	<insert id="replyInsert" parameterType="QnaDTO">
		insert into qna values
		(board_seq.nextval, #{reply.title}, #{reply.contents}, #{reply.writer}, 0, sysdate, #{parent.ref}, #{parent.step}+1, #{parent.depth}+1)
	</insert>

</mapper>